.menuNav {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 8vh;
  display: flex;
  padding: 25px;
  justify-content: space-around;
  ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  li {
    height: 50px;

    list-style: none;
    padding: 0px 25px;
  }
  a {
    text-decoration: none;
    color: white;
  }

  li a {
    text-transform: uppercase;
    transition: 0.35s;
  }
  li a:hover {
    color: rgb(33, 91, 197);
  }
}

.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logoBur {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fas {
  color: white;
  font-size: 2rem;
}

.menuNav .fa-bars {
  display: none;
}

.fa-bars:hover {
  color: rgb(33, 91, 197);
}

/* MEDIA QUERYS */

@media (max-width: 900px) {
  .menuNav {
    width: 100%;
    height: 35vh;
    flex-direction: column;
    padding: 15px;
    justify-content: flex-start;

    .fa-bars {
      display: block;
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;
    }
  }

  .menuNav.active {
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
