.menuContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.menuNav {
  z-index: 1;
  width: 100%;
  height: 20vh;
  display: flex;
  padding: 25px;
  justify-content: space-around;
  ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  li {
    height: 50px;
    list-style: none;
    padding: 0px 25px;
  }
  a {
    text-decoration: none;
    color: white;
  }

  li a {
    text-transform: uppercase;
    transition: 0.35s;
  }
  li a:hover {
    color: rgb(33, 91, 197);
  }
}

.logo {
  padding: 0px 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logoBur {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fas {
  color: white;
  opacity: 0.9;
  font-size: 1rem;
}

.menuNav .fa-bars {
  display: none;
}

.fa-bars:hover {
  color: rgb(33, 91, 197);
}

.menuIdioma {
  li {
    list-style: none;
    padding-right: 70px;
    text-align: right;
  }
  a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  a:hover {
    color: rgb(148, 29, 29);
  }
}

.fa-angle-double-down {
  font-size: 0.5rem;
  color: white;
  opacity: 0.9;
  text-align: right;
  -webkit-animation: slide-bottom 0.5s ease-out infinite alternate backwards;
  animation: slide-bottom 0.5s ease-out infinite alternate backwards;
}

.idiomaScroll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 20px 50px;
}

/* MEDIA QUERYS */

@media (max-width: 900px) {
  .menuNav {
    width: 100%;
    height: 35vh;
    flex-direction: column;
    padding: 15px;
    justify-content: flex-start;

    .fa-bars {
      display: block;
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;
    }
  }

  .menuNav.active {
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .menuIdioma {
    li {
      padding-right: 20px;
    }
  }

  .fa-angle-double-down {
    padding-right: 20px;
  }

  .idiomaScroll {
    padding: 0px 20px 20px 20px;
  }
}

/* ANIMATION SCROLLDOWN */

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
